@model Practise.Models.ChangePassword
@{
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}

<section id="login-page">
    <!--Logo-->
    <div id="logo" class="text-center">
        <img src="~/Content/images/pre-login/top-logo.png" alt="logo">
    </div>
    <!--Change Password-->
    <div class="container">
        <div class="cp text-center">
            <h2>Change Password</h2>
            <p>Enter your new password to change your password</p>
        </div>
        <!--Form-->
        @using (Html.BeginForm("ChangePassWord", "User", FormMethod.Post, new { }))
        {
            <div class="changepass">
                <div class="row">
                    <div class="col-md-12">
                        <label for="exampleInputPassword0" id="op"><span>Old Password</span></label>
                        @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control show-pass", @id = "exampleInputPassword0", @placeholder = "Enter your old password", @Type = "password" })
                        @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "text-danger" })
                        <div class="text-danger">
                            @ViewBag.ErrorMessage
                        </div>
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label for="exampleInputPassword2" id="np"><span>New Password</span></label>
                        @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control show-pass", @id = "exampleInputPassword2", @placeholder = "Enter your new password", @Type = "password" })
                        @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "text-danger" })
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label for="exampleInputPassword3" id="cp"><span>Confirm Password</span></label>
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control show-pass", @id = "exampleInputPassword3", @placeholder = "Enter your confirm password", @Type = "password" })
                        @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn-cp"><span>SUBMIT</span></button>
                </div>
            </div>

        }
    </div>

</section>
<!--Change Password Ends-->
