@model Practise.Models.VerifyLogin
@{
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}

<section id="login-page">
    <!--Logo-->
    <div id="logo" class="text-center">

        <img src="~/Content/images/pre-login/top-logo.png" alt="logo" />
    </div>
    <!--Login-->
    <div class="container" style="margin-bottom: 0px;">

        <div class="login text-center">
            <h2>Login</h2>
            <p>Enter your email address and password to login</p>
        </div>
        <!--Form-->
        @using (Html.BeginForm("Login", "User", FormMethod.Post, new { }))
        {

            <div class="text-danger">
                @ViewBag.ErrorMessage
            </div>

            <div class="row form-group" id="email">
                <div class="col-md-12">
                    <label for="exampleInputEmail1">Email</label>
                    @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "Enter email" })
                    @Html.ValidationMessageFor(x => x.EmailID, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="row form-group" id="password">
                <div class="col-md-12">
                    <label for="exampleInputPassword1">Password</label>
                    <label for="exampleInputPassword1" id="FP"><a id="FP1">@Html.ActionLink("Forgot Password?", "ForgotPassword", "User", null, new { @class = "page-scroll" })</a></label>

                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control input-field show-pass", @id = "exampleInputPassword1", @placeholder = "Enter your password", @Type = "password" })
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>

                </div>
            </div>
            <div class="row form-group input-group-prepend">
                <div class="col-md-12 input-group-text">
                    @Html.CheckBoxFor(x => x.RememberMe, new { @class = "form - check - input", @id = "exampleCheck1" })
                    <label class="form-check-label">
                        Remember Me
                    </label>

                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn-login"><span>LOGIN</span></button>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p id="acc"><span>Don't have an account?</span> <a id="Su"> @Html.ActionLink("Sign Up", "SignUp", "User", null, new { @class = "page-scroll" })</a></p>

                </div>
            </div>
        }
    </div>

</section>
<!--Login Ends-->