@model Practise.Models.UserProfile
@using Practise.Controllers
@{
    Layout = "~/Views/Shared/_Notes.cshtml";
}


<!--User Profile Page-->

<div id="userpro">
    <div class="content-box-md">
        <div class="container-up">
            <div class="row">
                <div class="col-md-12 text-center">

                    <h1>User Profile</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Basic Detail-->
@using (Html.BeginForm("UserProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section id="basic-detail">
        <div class="container-basic form-group">
            <div class="row">
                <!--basic detail left side-->
                <h3>Basic Profile Details</h3>
                <div class="col-md-6">
                    <div id="b-left" class="basic-left">
                        @Html.HiddenFor(x => x.UserID)
                        <div class="row">
                            <div class="col-md-12">
                                <label for="exampleInputfname" id="f_name">First Name<span class="required">*</span></label>
                                @Html.TextBoxFor(x=>x.FirstName , new { @class = "form-control", @id = "exampleInputfname", @placeholder = "Enter your first name" })
                                @Html.ValidationMessageFor(x=>x.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="exampleInputemail" id="email_01">Email<span class="required">*</span></label>
                                @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control", @id = "exampleInputemail01", @placeholder = "Enter your email address", @readonly="readonly"})
                                @Html.ValidationMessageFor(x => x.EmailID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="gender" id="gen">Gender</label><br>
                                @Html.DropDownList("Gender", new SelectList(ViewBag.Gender, "ID", "Value"), "Select your category", new { name = "Gender", @class = "form-control" , @id = "gender" })
                                @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label id="picture"><span>Profile Picture</span></label>
                                <input type="file" class="form-control" id="exampleInputpicture" placeholder="Upload a picture" name="ProfilePicture" onchange="return profileValidation()">
                            </div>
                        </div>
                    </div>
                </div>
                <!--basic detail right side-->
                <div class="container-bd-right">
                    <div class="col-md-6">
                        <div id="b-right" class="basic-right">

                            <div class="row">
                                <div class="col-md-12">
                                    <label for="exampleInputlname" id="l_name">Last Name<span class="required">*</span></label>
                                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @id = "exampleInputlname", @placeholder = "Enter your last name" })
                                    @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="exampleInputdob" id="dob">Date Of Birth</label>
                                    <input type="date" class="form-control" id="exampleInputdob" placeholder="Enter your date of birth" name="DOB">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="phone_no" id="ph_no">Phone Number</label><br>
                                    @Html.DropDownList("CountryCode", new SelectList(ViewBag.CountryCode, "ID", "CountryCode"), "", new { @class = "form-control", @id = "phone_no" })
                                </div>
                                <div class="col-md-9">
                                    <label for="exampleInputph" id="phone"></label>
                                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @id = "exampleInputph", @placeholder = "Enter your phone number" })
                                    @Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Address Details-->
    <section id="address-detail">
        <div class="container-address form-group">
            <div class="row">
                <!--Address detail left side-->
                <h3>Address Details</h3>
                <div class="col-md-6">
                    <div id="b-left" class="basic-left">

                        <div class="row">
                            <div class="col-md-12">
                                <label for="exampleInputfname" id="f_name">Address Line 1<span class="required">*</span></label>
                                @Html.TextBoxFor(x => x.AddressLine1, new { @class = "form-control", @id = "exampleInputfname", @placeholder = "Enter your address" })
                                @Html.ValidationMessageFor(x => x.AddressLine1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="exampleInputemail" id="email_01">City<span class="required">*</span></label>
                                @Html.TextBoxFor(x => x.City, new { @class = "form-control", @id = "exampleInputemail01", @placeholder = "Enter your city" })
                                @Html.ValidationMessageFor(x => x.City, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="exampleInputemail" id="email_01">Zip<span class="required">*</span></label>
                                @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control", @id = "exampleInputemail01", @placeholder = "Enter your zip code" })
                                @Html.ValidationMessageFor(x => x.ZipCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <!--basic detail right side-->
                <div class="container-bd-right">
                    <div class="col-md-6">
                        <div id="b-right" class="basic-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="exampleInputlname" id="l_name">Address Line 2</label>
                                    @Html.TextBoxFor(x => x.AddressLine2, new { @class = "form-control", @id = "exampleInputlname", @placeholder = "Enter your address" })
                                    @Html.ValidationMessageFor(x => x.AddressLine2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="exampleInputemail" id="email_01">State<span class="required">*</span></label>
                                    @Html.TextBoxFor(x => x.State, new { @class = "form-control", @id = "exampleInputemail01", @placeholder = "Enter your state" })
                                    @Html.ValidationMessageFor(x => x.State, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="gender" id="gen">Country</label><br>
                                    @Html.DropDownList("Country", new SelectList(ViewBag.NotesCountry, "ID", "Name"), "Select your country", new { name = "Country", @class = "form-control", @id= "gender" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--University and College Information-->
    <section id="uci">
        <div class="container-uci form-group">
            <div class="row">
                <!--Left-->
                <h3>University and College Information</h3>
                <div class="col-md-6">
                    <label for="exampleInputemail" id="email_01">University</label>
                    @Html.TextBoxFor(x => x.University, new { @class = "form-control", @id = "exampleInputemail01", @placeholder = "Enter your university" })
                    @Html.ValidationMessageFor(x => x.University, "", new { @class = "text-danger" })<br>
                    <button class="btn btn-primary" id="btn-up-sb" type="submit">SUBMIT</button>
                </div>

                <!--Right-->
                <div class="col-md-6">
                    <label for="exampleInputemail" id="email_01">College</label>
                    @Html.TextBoxFor(x => x.College, new { @class = "form-control", @id = "exampleInputemail01", @placeholder = "Enter your college" })
                    @Html.ValidationMessageFor(x => x.College, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </section>
}

