@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Practise.Models.BuyerRequestModal>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-m_ad">
    <h3>Downloaded Notes</h3>
    <div class="row notes-under">
        <div class="col-md-2">
            <label class="nur">Note</label>
        </div>
        <div class="col-md-2">
            <label class="nur">Seller</label>
        </div>
        <div class="col-md-2">
            <label class="nur">Buyer</label>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    @using (Html.BeginForm("DownloadNote", "AdminNoteStatus", FormMethod.Get, new { @id = "SubmitForm" }))
    {
        <div class="row">
            <div class="col-md-2">
                @Html.DropDownList("Note", new SelectList(ViewBag.Note), "Select note", new { name = "Note", @class = "form-control seller", onchange = "submitForm()" })
            </div>
            <div class="col-md-2">
                @Html.DropDownList("Seller", new SelectList(ViewBag.Seller, "ID", "FirstName"), "Select seller", new { name = "Seller", @class = "form-control seller", onchange = "submitForm()" })
            </div>
            <div class="col-md-2">
                @Html.DropDownList("Buyer", new SelectList(ViewBag.Buyer), "Select buyer", new { name = "Buyer", @class = "form-control seller", onchange = "submitForm()" })
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="search-ds" name="searchTxt" placeholder="&#xf002;  Search">

            </div>
            <div class="col-md-2">
                <button type="submit" class="form-control" id="search-ds01">SEARCH</button>
            </div>
        </div>
    }
    <table class="table border">
        <thead>
            <tr class="table11" style="height: 75px;">
                <th scope="col" style="vertical-align: middle;">SR NO.</th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("NOTE TITLE", "DownloadNote", new { sortOrder = ViewBag.TitleSortParm })</th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("CATEGORY", "DownloadNote", new { sortOrder = ViewBag.CategorySortParm })</th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("BUYER", "DownloadNote", new { sortOrder = ViewBag.BuyerParm })</th>
                <th scope="col"></th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("SELLER", "DownloadNote", new { sortOrder = ViewBag.SellerParm })</th>
                <th scope="col"></th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("SELL TYPE", "DownloadNote", new { sortOrder = ViewBag.SellTypeParm })</th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("PRICE", "DownloadNote", new { sortOrder = ViewBag.PriceParm })</th>
                <th scope="col" style="vertical-align: middle;">@Html.ActionLink("DOWNLOADED DATE/TIME", "DownloadNote", new { sortOrder = ViewBag.AttachmentDateSortParm })</th>
                <th scope="col" style="vertical-align: middle;"></th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 0;
            }
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="6" class="text-center">
                        No record found
                    </td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr class="table2">
                    <td style="vertical-align: middle; text-align: center;">@(count + ((Model.PageNumber - 1) * Model.PageSize) + 1)</td>
                    <td style="vertical-align: middle; color: #6255a5;text-align: left;"><a href="/Admin/AdminNoteDetails/@item.objdownload.NoteID">@item.objdownload.NoteTitle</a></td>
                    <td style="vertical-align: middle;text-align: left;">@item.objdownload.NoteCategory</td>
                    <td style="vertical-align: middle;text-align: left;">@item.objdownload.tblUser1.FirstName @item.objdownload.tblUser1.LastName</td>
                    <td style="vertical-align: middle;text-align: left;"><a href="/AdminMember/MembersDetails/@item.objdownload.Downloader"><img src="~/Content/Admin/images/assets/eye.png"></a></td>
                    <td style="vertical-align: middle;text-align: left;">@item.objdownload.tblUser.FirstName @item.objdownload.tblUser.LastName</td>
                    <td style="vertical-align: middle;text-align: left;"><a href="/AdminMember/MembersDetails/@item.objdownload.Seller"><img src="~/Content/Admin/images/assets/eye.png"></a></td>
                    @if (@item.objdownload.IsPaid == true)
                    {
                        <td style="vertical-align: middle;">Paid</td>
                    }
                    else
                    {
                        <td style="vertical-align: middle;">Free</td>
                    }
                    <td style="vertical-align: middle;text-align: left;">&#36;@item.objdownload.PurchasedPrice</td>
                    <td style="vertical-align: middle;text-align:center">@item.objdownload.AttachmentDownloadedDate</td>
                    <td style="vertical-align: middle;">
                        <div class="dropdown2">
                            <img src="~/Content/Admin/images/My Download/dots.png" class="dots">
                            <div class="dropdown-content2">
                                <a href="/UserActivityStatus/DownloadNote/@item.objdownload.NoteID">Download Notes</a>
                                <a href="/Admin/AdminNoteDetails/@item.objdownload.NoteID">View More Details</a>
                            </div>
                        </div>
                    </td>
                </tr>
                count++;
            }
            
        </tbody>
    </table>

</div>

<!--Pagination-->
<div class="text-center">
    <ul class="pagination">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("DownloadNote",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
            new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, MaximumPageNumbersToDisplay = 5 })

    </ul>
</div>