@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Practise.Models.DashboardModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-m_ad">
    <h3>Notes Under Review</h3>
    <div class="row notes-under">
        <div class="col-md-12">
            <label class="nur">Seller</label>
        </div>
    </div>
    @using (Html.BeginForm("NotesUnderReview", "AdminNoteStatus", FormMethod.Get, new { @id = "SubmitForm" }))
    {
        <div class="row">
            <div class="col-md-2">
                @Html.DropDownList("Seller", new SelectList(ViewBag.Seller, "ID", "FirstName"), "Select Seller", new { name = "Seller", @class = "form-control seller", onchange = "submitForm()" })
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="search-ds" name="searchNote" placeholder="&#xf002;  Search">

            </div>
            <div class="col-md-2">
                <button type="submit" class="form-control" id="search-ds01">SEARCH</button>
            </div>
        </div>
    }
    <table class="table border">
        <thead>
            <tr class="table11" style="height: 75px;">
                <th scope="col" style="vertical-align: middle;">SR NO.</th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("TITLE", "NotesUnderReview", new { sortOrder1 = ViewBag.TitleSortParm1 })</th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("CATEGORY", "NotesUnderReview", new { sortOrder1 = ViewBag.CategorySortParm1 })</th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("SELLER", "NotesUnderReview", new { sortOrder1 = ViewBag.SellerParm2 })</th>
                <th scope="col"></th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("DATE ADDED", "NotesUnderReview", new { sortOrder1 = ViewBag.AddedDateSortParm1 })</th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("STATUS", "NotesUnderReview", new { sortOrder1 = ViewBag.StatusParm1 })</th>
                <th scope="col"></th>
                <th scope="col" style="vertical-align: middle;">ACTION</th>
                <th scope="col"></th>
                <th scope="col" style="vertical-align: middle;"></th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 0;
            }
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="6" class="text-center">
                        No record found
                    </td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr class="table2">
                    <td style="vertical-align: middle; text-align: center;">@(count + ((Model.PageNumber - 1) * Model.PageSize) + 1)</td>
                    <td style="vertical-align: middle; color: #6255a5;text-align: left;"><a href="/SellerNotes/NoteDetails/@item.sellernoteinfo.ID">@item.sellernoteinfo.Title</a></td>
                    <td style="vertical-align: middle;text-align: left;">@item.noteCategoryinfo.Name</td>
                    <td style="vertical-align: middle;text-align: left;">@item.sellernoteinfo.tblUser.FirstName @item.sellernoteinfo.tblUser.LastName</td>
                    <td style="vertical-align: middle;"><a href="/AdminMember/MembersDetails/@item.sellernoteinfo.SellerID"><img src="~/Content/Admin/images/assets/eye.png"></a></td>
                    <td style="vertical-align: middle;text-align: left;">@item.sellernoteinfo.CreatedDate</td>
                    <td style="vertical-align: middle;text-align: left;">@item.referenceDatainfo.Value</td>
                    <td style="vertical-align: middle;">
                        <a href="/AdminNoteStatus/Approve/@item.sellernoteinfo.ID">
                            <button class="btn btn-primary approve" type="submit" onclick="return confirm('System will publish the notes over portal.Please press ok to continue.')">Approve</button>
                        </a>
                    </td>
                    <td style="vertical-align: middle;"><button class="btn btn-primary reject" type="submit" data-toggle="modal" data-target="#exampleModal_@item.sellernoteinfo.ID" value="@item.sellernoteinfo.ID">Reject</button></td>
                    <td style="vertical-align: middle;">
                        @if (@item.sellernoteinfo.tblReferenceData.Value == "Submitted For Review")
                        {
                            <a href="/AdminNoteStatus/InReview/@item.sellernoteinfo.ID">
                                <button class="btn btn-primary inreview" type="submit" onclick="return confirm('Review process has been initiated. Please press ok to continue.')">InReview</button>
                            </a>
                        }
                        else
                        {
                            <button class="btn btn-primary markunderreview" type="submit">Mark Under Review</button>
                        }
                    </td>
                    <td style="vertical-align: middle;">
                        <div class="dropdown2">
                            <img src="~/Content/Admin/images/My Download/dots.png" class="dots">
                            <div class="dropdown-content2">
                                <a href="/UserActivityStatus/DownloadNote/@item.sellernoteinfo.ID">Download Notes</a>
                                <a href="/Admin/AdminNoteDetails/@item.sellernoteinfo.ID">View More Details</a>
                            </div>
                        </div>
                        <!-- Rejected Note -->
                        <div class="modal fade " id="exampleModal_@item.sellernoteinfo.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content md01 text-left">

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" value="Cancel">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    @using (Html.BeginForm("Reject", "AdminNoteStatus", FormMethod.Post))
                                    {
                                        <div class="modal-body md02">
                                            <input type="hidden" name="id" value="@item.sellernoteinfo.ID" />
                                            <h4 class="text-left">@item.sellernoteinfo.Title-@item.noteCategoryinfo.Name</h4>
                                            <label for="text-area"><span class="text-left review-label ">Remarks*</span></label>
                                            <textarea class="form-control md03" placeholder="Write remarks" rows="5" name="remark" required></textarea>
                                            <form style="float:right;">
                                                <button class="btn btn-primary reject" type="submit" style="margin-bottom:10px;" onclick="return confirm('Are you sure you want to reject seller request?');">Reject</button>
                                                <button class="btn btn-primary inreview" type="submit" style="margin-bottom:10px;" value="Cancel" data-dismiss="modal">Cancel</button>
                                            </form>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>

                    </td>

                </tr>
                count++;
            }


        </tbody>
    </table>

</div>

<!--Pagination-->
<div class="text-center">
    <ul class="pagination">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, pagepublish => Url.Action("NotesUnderReview",
            new { pagepublish, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
            new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, MaximumPageNumbersToDisplay = 5 })
    </ul>
</div>