@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Practise.Models.DashboardModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-m_ad">
    <h3>Rejected Notes</h3>
    <div class="row notes-under">
        <div class="col-md-12">
            <label class="nur">Seller</label>
        </div>
    </div>
    @using (Html.BeginForm("RejectedNotes", "AdminNoteStatus", FormMethod.Get, new { @id = "SubmitForm" }))
    {
        <div class="row">
            <div class="col-md-2">
                @Html.DropDownList("Seller", new SelectList(ViewBag.Seller, "ID", "FirstName"), "Select Seller", new { name = "Seller", @class = "form-control seller", onchange = "submitForm()" })
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="search-ds" name="searchNote" placeholder="&#xf002;  Search">

            </div>
            <div class="col-md-2">
                <button type="submit" class="form-control" id="search-ds01">SEARCH</button>
            </div>
        </div>
    }
    <table class="table border">
        <thead>
            <tr class="table11" style="height: 75px;">
                <th scope="col" style="vertical-align: middle;">SR NO.</th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("NOTE TITLE", "RejectedNotes", new { sortOrder1 = ViewBag.TitleSortParm1 })</th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("CATEGORY", "RejectedNotes", new { sortOrder1 = ViewBag.CategorySortParm1 })</th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("SELLER", "RejectedNotes", new { sortOrder1 = ViewBag.SellerParm1 })</th>
                <th scope="col"></th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("DATE EDITED", "RejectedNotes", new { sortOrder1 = ViewBag.EditedDateSortParm1 })</th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("REJECTED BY", "RejectedNotes", new { sortOrder1 = ViewBag.RejectedByParm })</th>
                <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("REMARK", "RejectedNotes", new { sortOrder1 = ViewBag.RemarkParm })</th>
                <th scope="col" style="vertical-align: middle;"></th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 0;
            }
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="6" class="text-center">
                        No record found
                    </td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr class="table2">
                    <td style="vertical-align: middle;">@(count + ((Model.PageNumber - 1) * Model.PageSize) + 1)</td>
                    <td style="vertical-align: middle; color: #6255a5;text-align: left;"><a href="/Admin/AdminNoteDetails/@item.sellernoteinfo.ID">@item.sellernoteinfo.Title</a></td>
                    <td style="vertical-align: middle;text-align: left;">@item.noteCategoryinfo.Name</td>
                    <td style="vertical-align: middle;text-align: left;">@item.sellernoteinfo.tblUser.FirstName @item.sellernoteinfo.tblUser.LastName</td>
                    <td style="vertical-align: middle;text-align: left;"><a href="/AdminMember/MembersDetails/@item.sellernoteinfo.SellerID"><img src="~/Content/Admin/images/assets/eye.png"></td>
                    <td style="vertical-align: middle;text-align: left;">@item.sellernoteinfo.ModifiedDate</td>
                    <td style="vertical-align: middle;text-align: left;">@item.sellernoteinfo.tblUser1.FirstName @item.sellernoteinfo.tblUser1.LastName</td>
                    <td style="vertical-align: middle;text-align: left;">@item.sellernoteinfo.AdminRemarks</td>
                    <td style="vertical-align: middle;">
                        <div class="dropdown1">
                            <img src="~/Content/Admin/images/My Download/dots.png" class="dots">
                            <div class="dropdown-content1">
                                <a href="/AdminNoteStatus/Approve/@item.sellernoteinfo.ID" onclick="return confirm('System will publish the notes over portal.Please press ok to continue.')">Approve</a>
                                <a href="/UserActivityStatus/DownloadNote/@item.sellernoteinfo.ID">Download Notes</a>
                                <a href="/Admin/AdminNoteDetails/@item.sellernoteinfo.ID">View More Details</a>
                            </div>
                        </div>
                    </td>
                </tr>
                count++;
            }
                
            </tbody>
    </table>

</div>

<!--Pagination-->
<div class="text-center">
    <ul class="pagination">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, pagepublish => Url.Action("RejectedNotes",
            new { pagepublish, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
            new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, MaximumPageNumbersToDisplay = 5 })
    </ul>
</div>