@model Practise.Models.ContactUsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!--ContactUs Page-->
    
    <div id="contact_us">
        <div class="content-box-md">
            <div class="container-contact">
                <div class="row">
                    <div class="col-md-12" class="text-center">

                        <h1 class="text-center">Contact Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Get in touch-->
    
    <div class="container-contact1">
        @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post, new { }))
        {
        <h3>Get In Touch</h3>
        <p>Let us know how to get back to you</p>
        <div class="row form-group bnd02">
            <div class="col-md-6">
                <label for="exampleInputfname" id="f_name">Full Name<span class="required">*</span></label>
                @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @id = "exampleInputfname", @placeholder = "Enter your full name" })
                @Html.ValidationMessageFor(x => x.FullName, "", new { @class = "text-danger" })

                <label for="exampleInputemail" id="email_01">Email<span class="required">*</span></label>
                @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control", @id = "exampleInputemail01", @placeholder = "Enter your email address" })
                @Html.ValidationMessageFor(x => x.EmailID, "", new { @class = "text-danger" })

                <label for="exampleInputlname" id="l_name">Subject<span class="required">*</span></label>
                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", @id = "exampleInputlname", @placeholder = "Enter your subject" })
                @Html.ValidationMessageFor(x => x.Subject, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label for="text-area"><span class="review-label">Comments*</span></label>
                @Html.TextAreaFor(x => x.Comment, new { @class = "form-control", @id = "exampleInputfname", @placeholder = "Comments..." , @rows = "9" })
                @Html.ValidationMessageFor(x => x.Comment, "", new { @class = "text-danger" })
            </div>
        </div>
        <button type="submit" class="btn-contact" value="SUBMIT">SUBMIT</button>
        }
    </div>
   
    <!--Contact us Ends-->