@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Practise.Models.DashboardModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-db">
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="ds01 text-center">
                <p><a href="/AdminNoteStatus/NotesUnderReview" style="color:#6255a5">@ViewBag.InReviewNotes</a></p>
                <h4>Numbers of Notes in Review for Publish</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ds01 text-center">
                <p><a href="/AdminNoteStatus/DownloadNote" style="color:#6255a5">@ViewBag.DownloadNotes</a></p>
                <h4>Numbers of New Notes Downloaded<br>(Last 7 days)</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ds01 text-center">
                <p><a href="/AdminMember/Members" style="color:#6255a5">@ViewBag.NewRegistration</a></p>
                <h4>Numbers of New Registrations(Last 7 days)</h4>
            </div>
        </div>
    </div>

    <!--Published Notes-->
    <div class="progress-nots">
        @using (Html.BeginForm("AdminDashBoard", "Admin", FormMethod.Get))
        {
            <div class="row ds02">
                <div class="col-md-6">
                    <h3>Published Notes</h3>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="searchNote" id="search-db" placeholder="&#xf002;  Search">

                </div>
                <div class="col-md-1">
                    <button type="submit" class="form-control" id="search-db01">SEARCH</button>
                </div>

                <div class="col-md-2">
                    @Html.DropDownList("Month", new SelectList(ViewBag.Month,"Value","Text"), "Select month", new { name = "Month", @class = "form-control", id = "month", onchange = "submitForm()" })
                </div>
            </div>
        }

        <table class="table border">
            <thead>
                <tr class="table11" style="height: 75px;">
                    <th scope="col" style="vertical-align: middle;">SR NO.</th>
                    <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("TITLE", "AdminDashBoard", new { sortOrder1 = ViewBag.TitleSortParm1 })</th>
                    <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("CATEGORY", "AdminDashBoard", new { sortOrder1 = ViewBag.CategorySortParm1 })</th>
                    <th scope="col" style="vertical-align: middle;">@Html.ActionLink("SELL TYPE", "AdminDashBoard", new { sortOrder1 = ViewBag.SellTypeParm1 })</th>
                    <th scope="col" style="vertical-align: middle;">@Html.ActionLink("PRICE", "AdminDashBoard", new { sortOrder1 = ViewBag.PriceParm1 })</th>
                    <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("PUBLISHER", "AdminDashBoard", new { sortOrder1 = ViewBag.PublishParm1 })</th>
                    <th scope="col" style="vertical-align: middle;">@Html.ActionLink("PUBLISHED DATE", "AdminDashBoard", new { sortOrder1 = ViewBag.AddedDateSortParm1 })</th>
                    <th scope="col" style="vertical-align: middle;">@Html.ActionLink("NUMBER OF  DOWNLOADS", "AdminDashBoard", new { sortOrder1 = ViewBag.DownloadNoParm1 })</th>
                    <th scope="col" style="vertical-align: middle;"> </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = 0;
                }
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="6" class="text-center">
                            No record found
                        </td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr class="table2">
                        <td style="vertical-align: middle;">@(count + ((Model.PageNumber - 1) * Model.PageSize) + 1)</td>
                        <td style="color: #6255a5; vertical-align: middle;text-align: left;"><a href="/Admin/AdminNoteDetails/@item.sellernoteinfo.ID">@item.sellernoteinfo.Title</a></td>
                        <td style="vertical-align: middle;text-align: left;">@item.noteCategoryinfo.Name</td>
                        @if (@item.sellernoteinfo.IsPaid == true)
                        {
                            <td style="vertical-align: middle;">Paid</td>
                        }
                        else
                        {
                            <td style="vertical-align: middle;">Free</td>
                        }
                        <td style="vertical-align: middle;">&#36;@item.sellernoteinfo.SellingPrice</td>
                        <td style="vertical-align: middle;text-align: left;">@item.sellernoteinfo.tblUser.FirstName @item.sellernoteinfo.tblUser.LastName</td>
                        <td style="vertical-align: middle;">@item.sellernoteinfo.PublishedDate</td>
                        <td style="vertical-align: middle; color: #6255a5;"><a href="/AdminNoteStatus/DownloadNote">@item.sellernoteinfo.tblDownloads.Where(x => x.IsSellerHasAllowedDownload == true).Select(x => x.NoteID).Count()</a></td>
                        <td style="vertical-align: middle;">
                            <div class="dropdown1">
                                <img src="~/Content/Admin/images/My Download/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="/UserActivityStatus/DownloadNote/@item.sellernoteinfo.ID">Download Notes</a>
                                    <a href="/Admin/AdminNoteDetails/@item.sellernoteinfo.ID">View More Details</a>
                                    <a data-toggle="modal" data-target="#exampleModal_@item.sellernoteinfo.ID" value="@item.sellernoteinfo.ID">Unpublish</a>
                                </div>
                            </div>

                            <!-- Unpublish Note -->
                            <div class="modal fade " id="exampleModal_@item.sellernoteinfo.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content md01 text-left">


                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" value="Cancel">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        @using (Html.BeginForm("Unpublish", "AdminNoteStatus", FormMethod.Post))
                                        {
                                            <div class="modal-body md02">
                                                <input type="hidden" name="id" value="@item.sellernoteinfo.ID" />
                                                <h4 class="text-left">@item.sellernoteinfo.Title-@item.noteCategoryinfo.Name</h4>
                                                <label for="text-area"><span class="text-left review-label ">Remarks*</span></label>
                                                <textarea class="form-control md03" placeholder="Write remarks" rows="5" name="remark" required></textarea>
                                                <form style="float:right;">
                                                    <button class="btn btn-primary reject" type="submit" style="margin-bottom:10px;" onclick="return confirm('Are you sure you want to Unpublish this note?');">Unpublish</button>
                                                    <button class="btn btn-primary inreview" type="submit" style="margin-bottom:10px;" value="Cancel" data-dismiss="modal">Cancel</button>
                                                </form>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>
                    count++;
                }

            </tbody>
        </table>

    </div>

</div>

<!--Pagination-->
<div class="text-center">
    <ul class="pagination">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, pagepublish => Url.Action("AdminDashBoard",
            new { pagepublish, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
            new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, MaximumPageNumbersToDisplay = 5 })
    </ul>
</div>