@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Practise.Models.DashboardModel>
@{
    Layout = "~/Views/Shared/_Notes.cshtml";
}


<!--My Rejected Notes-->

<div class="container-ds02">
    <div class="mydownloads">
        @using (Html.BeginForm("MyRejectedNotes", "UserActivityStatus", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-6">
                    <h3>My Rejected Notes</h3>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="search-ds" name="searchNote" placeholder="&#xf002;  Search">

                </div>
                <div class="col-md-2">
                    <button type="submit" class="form-control" id="search-ds01">SEARCH</button>
                </div>
            </div>
        }
        <table class="table border">
            <thead>
                <tr class="table11 " style="height: 75px;">
                    <th scope="col" style="vertical-align: middle;text-align: center;">SR NO.</th>
                    <th scope="col" style="vertical-align: middle;">@Html.ActionLink("NOTE TITLE", "MyRejectedNotes", new { sortOrder1 = ViewBag.TitleSortParm1 })</th>
                    <th scope="col" style="vertical-align: middle;">@Html.ActionLink("CATEGORY", "MyRejectedNotes", new { sortOrder1 = ViewBag.CategorySortParm1 })</th>
                    <th scope="col" style="vertical-align: middle;">@Html.ActionLink("REMARKS", "MyRejectedNotes", new { sortOrder1 = ViewBag.RemarkParm })</th>
                    <th scope="col" style="vertical-align: middle;text-align: left;">@Html.ActionLink("DATE EDITED", "MyRejectedNotes", new { sortOrder1 = ViewBag.EditedDateSortParm1 })</th>
                    <th scope="col" style="vertical-align: middle;">CLONE</th>
                    <th scope="col" style="vertical-align: middle;"> </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = 0;
                }
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="6" class="text-center">
                            No record found
                        </td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr class="table2">
                        <td style="vertical-align: middle;text-align: center;">@(count + ((Model.PageNumber - 1) * Model.PageSize) + 1)</td>
                        <td style="color: #6255a5; vertical-align: middle;">@item.sellernoteinfo.Title</td>
                        <td style="vertical-align: middle;">@item.noteCategoryinfo.Name</td>
                        <td style="vertical-align: middle;">@item.sellernoteinfo.AdminRemarks</td>
                        <td style="vertical-align: middle;text-align: left;">@item.sellernoteinfo.ModifiedDate</td>
                        <td style="color: #6255a5; vertical-align: middle;"><a href="/UserActivityStatus/CloneNote/@item.sellernoteinfo.ID">Clone</a></td>
                        <td style="vertical-align: middle;">
                            <div class="dropdown">
                                <img src="~/Content/images/My Download/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="/UserActivityStatus/DownloadNote/@item.sellernoteinfo.ID">Download Note</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    count++;
                }
                
            </tbody>
        </table>
    </div>
</div>


<!--Pagination-->
<div class="text-center">
    <ul class="pagination">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, pagepublish => Url.Action("MyRejectedNotes",
            new { pagepublish, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
            new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, MaximumPageNumbersToDisplay = 5 })
    </ul>
</div>
<!--My Rejected Notes End-->