@model Practise.Models.Addnote
@{
    Layout = "~/Views/Shared/_Notes.cshtml";
}

<!--Add Notes Page-->

<div id="userpro">
    <div class="content-box-md">
        <div class="container-up">
            <div class="row">
                <div class="col-md-12" class="text-center">
                    <h1>Add Notes</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Basic Notes Details-->
<div class="container-bnd01">
    @using (Html.BeginForm("AddNotes", "AddNotes", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h3>Basic Note Details</h3>
        <div class="row form-group bnd02">

            <div class="col-md-6">
                <label for="exampleInputtitle">Title<span class="required">*</span></label>
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control bn-detail", @placeholder = "Enter your notes title" })
                @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
                <label id="picture"><span>Display Picture</span></label>

                <input type="file" class="form-control exampleInputpicture02" name="DisplayPicture" id="DisplayPicture" placeholder="Upload a picture" onchange="return fileValidation()">
                <span id="DisplayPicture-error" class="text-danger"></span>
                <label for="type">Type</label><br>

                @Html.DropDownList("NoteType", new SelectList(ViewBag.NotesType, "ID", "Name"), "Select your note type", new { name = "NoteType", @class = "form-control bn-detail bnd" })

            </div>
            <div class="col-md-6">
                <label for="type">Category<span class="required">*</span></label><br>
                @Html.DropDownList("Category", new SelectList(ViewBag.NotesCategory, "ID", "Name"), "Select your category", new { name = "Category", @class = "form-control bn-detail bnd" })
                @Html.ValidationMessageFor(x => x.Category, "", new { @class = "text-danger" })

                <label id="picture01">Upload Notes<span class="required">*</span></label>
                <input type="file" class="form-control" name="UploadNotes" id="exampleInputpicture01" placeholder="Upload your notes" accept="application/pdf" multiple>
                @Html.ValidationMessageFor(x => x.UploadNotes, " ", new { @class = "text-danger" })

                <label for="exampleInputnop">Number of Pages</label>
                @Html.TextBoxFor(x => x.NumberofPages, new { @class = "form-control bn-detail", @placeholder = "Enter number of note pages" })
                @Html.ValidationMessageFor(x => x.NumberofPages, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="row bnd03 form-group">
            <div class="col-md-12">
                <label for="exampleInputdp">Description<span class="required">*</span></label>

                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @id = "exampleInputdp", @placeholder = "Enter your description" })
                @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Institution Information-->
        <div class="i-info">
            <h3>Institution Information</h3>
            <div class="row form-group bnd02">
                <div class="col-md-6">
                    <label for="type">Country</label><br>

                    @Html.DropDownList("Country", new SelectList(ViewBag.NotesCountry, "ID", "Name"), "Select your country", new { name = "Country", @class = "form-control bn-detail bnd" })

                </div>
                <div class="col-md-6">
                    <label for="exampleInputnop">Institution Name</label>
                    @Html.TextBoxFor(x => x.UniversityName, new { @class = "form-control bn-detail", @placeholder = "Enter your institution name" })
                    @Html.ValidationMessageFor(x => x.UniversityName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <!--Course Details-->
        <div class="i-info">
            <h3>Course Details</h3>
            <div class="row form-group bnd02">
                <div class="col-md-6">
                    <label for="exampleInputnop">Course Name</label>
                    @Html.TextBoxFor(x => x.Course, new { @class = "form-control bn-detail", @placeholder = "Enter your course name" })
                    @Html.ValidationMessageFor(x => x.Course, "", new { @class = "text-danger" })
                    <label for="exampleInputnop">Professor/Lecturer</label>
                    @Html.TextBoxFor(x => x.Professor, new { @class = "form-control bn-detail", @placeholder = "Enter your professor name" })
                    @Html.ValidationMessageFor(x => x.Professor, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label for="exampleInputnop">Course Code</label>
                    @Html.TextBoxFor(x => x.CourseCode, new { @class = "form-control bn-detail", @placeholder = "Enter your course code" })
                    @Html.ValidationMessageFor(x => x.CourseCode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <!--Selling Information-->
        <div class="i-info">
            <h3>Selling Information</h3>
            <div class="row form-group bnd02">
                <div class="col-md-6 ">
                    <label for="exampleInputnop">Sell For<span class="required">*</span></label>
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            @Html.RadioButtonFor(x => x.IsPaid, "False", new { @class = "si", @name = "IsPaid", @id = "free" })
                            <span class="si1">Free</span>
                           
                            @Html.RadioButtonFor(x => x.IsPaid, "True", new { @class = "si", @name = "IsPaid", @id = "paid" })
                            <span class="si1">Paid</span>
                        </div>
                    </div>

                    <label for="exampleInputnop">Sell Price<span class="required">*</span></label>
                    @Html.TextBoxFor(x => x.SellingPrice, new { @class = "form-control bn-detail", @placeholder = "Enter your price", @id = "selling" })
                    @Html.ValidationMessageFor(x => x.SellingPrice)

                </div>

                <div class="col-md-6">
                    <label id="picture03"><span>Note Preview</span></label>
                    <input type="file" class="form-control" id="exampleInputpicture03" name="NotesPreview" placeholder="Upload a file" accept="application/pdf">
                    @if (@ViewBag.ErrorMessage != null)
                    {
                        <p class="text-danger">@ViewBag.ErrorMessage</p>
                    }
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-md btn-save">SAVE</button>


        </div>
    }
</div>
<!--Add Notes End-->
