@using PagedList;
@using PagedList.Mvc;

@{
    IPagedList<Practise.Models.DashboardModel> Model = ViewBag.multipletable;
    IPagedList<Practise.Models.DashboardModel> Model1 = ViewBag.multipletable1;
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="dashboard-title-wrapper">
    <div class="container-ds01">
        <!--Dashboard-->
        <div class="dashboard-title-section">
            <div class="row">
                <div class="col-md-6">
                    <h1>Dashboard</h1>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-primary" id="btn-up-add" type="submit"><a href="/AddNotes/AddNotes">ADD NOTE</a></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="row dbleft">
                    <div class="col-md-4">
                        <div class="earning-detail">
                            <div class="earning-image">
                                <img src="~/Content/images/Dashboard/earning-icon.svg" alt="earning-icon" class="img-responsive">
                            </div>
                            <h3>My Earning</h3>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="number-detail text-center">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="number-sold">
                                        <p><a href="/UserActivityStatus/MySoldNotes" style="color:#6255a5">@ViewBag.SoldNote</a></p>
                                        <h4>Number of Note Sold</h4>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="money text-center">

                                        <p><a href="/UserActivityStatus/MySoldNotes" style="color:#6255a5">&#36;@ViewBag.SellingPrice</a></p>
                                        <h4>Money Earned</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row dbright">
                    <div class="col-md-4">
                        <div class="download text-center">
                            <div class="download01">
                                <p><a href="/UserActivityStatus/MyDownload" style="color:#6255a5">@ViewBag.DownloadNote</a></p>
                                <h4>My Downlods</h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="reject-detail text-center">
                            <div class="reject-note">
                                <p><a href="/UserActivityStatus/MyRejectedNotes" style="color:#6255a5">@ViewBag.RejectedNote</a></p>
                                <h4>My Rejected Notes</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="Buyer-detail text-center">
                            <div class="buyer-note">
                                <p><a href="/BuyerRequest/BuyerRequest" style="color:#6255a5">@ViewBag.BuyerRequest</a></p>
                                <h4>Buyer Requests</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--In progress notes-->
    <div class="progress-nots">
        <div class="container-ds02">
            @using (Html.BeginForm("DashBoard", "SellerNotes", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-md-6">
                        <h3>In Progress Notes</h3>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="searchTxt" class="form-control" id="search-ds" placeholder="&#xf002;  Search">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="form-control" id="search-ds01">SEARCH</button>
                    </div>
                </div>
            }
            <table class="table border">
                <thead>
                    <tr class="table11" style="height: 75px;">
                        <th scope="col" style="vertical-align: middle;text-align: center;">@Html.ActionLink("ADDED DATE", "DashBoard", new { sortOrder = ViewBag.AddedDateSortParm })</th>
                        <th scope="col" style="vertical-align: middle;">@Html.ActionLink("TITLE", "DashBoard", new { sortOrder = ViewBag.TitleSortParm })</th>
                        <th scope="col" style="vertical-align: middle;">@Html.ActionLink("CATEGORY", "DashBoard", new { sortOrder = ViewBag.CategorySortParm })</th>
                        <th scope="col" style="vertical-align: middle;">@Html.ActionLink("STATUS", "DashBoard", new { sortOrder = ViewBag.StatusSortParm })</th>
                        <th scope="col" style="vertical-align: middle;text-align: center;">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="6" class="text-center">
                                No record found
                            </td>
                        </tr>
                    }
                    @foreach (var item in Model)
                    {
                        <tr class="table1">
                            <td style="vertical-align: middle;text-align: center;">@item.sellernoteinfo.CreatedDate</td>
                            <td style="vertical-align: middle;">@item.sellernoteinfo.Title</td>
                            <td style="vertical-align: middle;">@item.noteCategoryinfo.Name</td>
                            <td style="vertical-align: middle;">@item.referenceDatainfo.Value</td>
                            <td style="vertical-align: middle;text-align: center;">
                                @if (item.referenceDatainfo.Value == "Draft")
                                {
                                    <a href="/AddNotes/EditNotes/@item.sellernoteinfo.ID"><img src="~/Content/images/Dashboard/edit.png" alt="edit" role="button"></a>

                                    <a href="/SellerNotes/DeleteNote/@item.sellernoteinfo.ID"><img src="~/Content/images/Dashboard/delete.png" alt="edit" role="button" onclick="return confirm('Are you sure you want to delete this note?');"></a>
                                }
                                else
                                {
                                    <a href="/SellerNotes/NoteDetails/@item.sellernoteinfo.ID"><img src="~/Content/images/Dashboard/eye.png" alt="view" role="button"></a>
                                }
                            </td>

                        </tr>
                    }


                </tbody>
            </table>

        </div>
    </div>

    <!--Pagination-->
    <div class="text-center">
        <ul class="pagination">

            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("DashBoard",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, MaximumPageNumbersToDisplay = 5 })

        </ul>
    </div>


    <!--Publish notes-->
    <div class="progress-nots">
        <div class="container-ds02">
            @using (Html.BeginForm("DashBoard", "SellerNotes", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-md-6">
                        <h3>Published Notes</h3>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="searchNote" class="form-control" id="search-ds" placeholder="&#xf002;  Search">

                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="form-control" id="search-ds01">SEARCH</button>
                    </div>
                </div>
            }

            <table class="table border">
                <thead>
                    <tr class="table11" style="height: 75px;">
                        <th scope="col" style="vertical-align: middle;text-align: center;">@Html.ActionLink("ADDED DATE", "DashBoard", new { sortOrder = ViewBag.AddedDateSortParm1 })</th>
                        <th scope="col" style="vertical-align: middle;">@Html.ActionLink("TITLE", "DashBoard", new { sortOrder = ViewBag.TitleSortParm1 })</th>
                        <th scope="col" style="vertical-align: middle;">@Html.ActionLink("CATEGORY", "DashBoard", new { sortOrder = ViewBag.CategorySortParm1 })</th>
                        <th scope="col" style="vertical-align: middle;">@Html.ActionLink("SELL TYPE", "DashBoard", new { sortOrder = ViewBag.SellTypeParm1 })</th>
                        <th scope="col" style="vertical-align: middle;">@Html.ActionLink("PRICE", "DashBoard", new { sortOrder = ViewBag.PriceParm1 })</th>
                        <th scope="col" style="vertical-align: middle;text-align: center;">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model1.Count() == 0)
                    {
                        <tr>
                            <td colspan="6" class="text-center">
                                No record found
                            </td>
                        </tr>
                    }
                    @foreach (var item in Model1)
                    {
                        <tr class="table1">
                            <td style="vertical-align: middle;text-align: center;">@item.sellernoteinfo.CreatedDate</td>
                            <td style="vertical-align: middle;">@item.sellernoteinfo.Title</td>
                            <td style="vertical-align: middle;">@item.noteCategoryinfo.Name</td>
                            @if (@item.sellernoteinfo.IsPaid == true)
                                {
                                    <td style="vertical-align: middle;">Paid</td>
                                }
                                else
                                {
                                    <td style="vertical-align: middle;">Free</td>
                                }
                            <td style="vertical-align: middle;">$@item.sellernoteinfo.SellingPrice</td>
                            <td style="vertical-align: middle;text-align: center;">
                                <a href="/SellerNotes/NoteDetails/@item.sellernoteinfo.ID"><img src="~/Content/images/Dashboard/eye.png" alt="view" role="button"></a>
                            </td>

                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>

    <!--Pagination-->
    <div class="text-center">
        <ul class="pagination">

            Page @(Model1.PageCount < Model1.PageNumber ? 0 : Model1.PageNumber) of @Model1.PageCount

            @Html.PagedListPager(Model1, pagepublish => Url.Action("DashBoard",
                new { pagepublish, sortOrder1 = ViewBag.CurrentSort1, currentFilter1 = ViewBag.CurrentFilter1 }),
                new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, MaximumPageNumbersToDisplay = 5 })
        </ul>
    </div>
</div>