@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Practise.Models.SearchNoteModel>
@{
    Layout = "~/Views/Shared/_Notes.cshtml";
}

<!--Search Notes Page-->

<div id="userpro">
    <div class="content-box-md">
        <div class="container-up">
            <div class="row">
                <div class="col-md-12 text-center">

                    <h1>Search Notes</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-s-notes">

    <!--Search and filter notes-->
    @using (Html.BeginForm("SearchNotes", "SellerNotes", FormMethod.Get, new { @id = "SubmitForm" }))
    {
        <div class="sf-notes">
            <h3>Search and Filter notes</h3>
            <div class="sf-notes01">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" name="searchTxt" id="search-sn" placeholder="&#xf002;  Search notes here...">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        @Html.DropDownList("NoteType", new SelectList(ViewBag.NotesType, "ID", "Name"), "Select type", new { name = "NoteType", @class = "form-control sn-1", onchange = "submitForm()" })
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownList("Category", new SelectList(ViewBag.NotesCategory, "ID", "Name"), "Select category", new { name = "Category", @class = "form-control sn-1", onchange = "submitForm()" })
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownList("UniversityName", new SelectList(ViewBag.UniversityName), "Select  university", new { name = "UniversityName", @class = "form-control sn-1", onchange = "submitForm()" })
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownList("Course", new SelectList(ViewBag.Course), "Select  course", new { name = "Course", @class = "form-control sn-1", onchange = "submitForm()" })
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownList("Country", new SelectList(ViewBag.NotesCountry, "ID", "Name"), "Select country", new { name = "Country", @class = "form-control sn-1", onchange = "submitForm()" })
                    </div>
                    <div class="col-md-2">
                        @*<select class="form-control sn-1">
                            <option value="" disabled selected hidden>Select rating</option>
                            <option value="">..</option>
                            <option value="">...</option>
                            <option value="">....</option>
                        </select>*@
                        @Html.DropDownList("Ratings", new SelectList(ViewBag.Rate, "ID", "Ratings"), "Select rating", new { name = "Ratings", @class = "form-control sn-1", onchange = "submitForm()" })
                    </div>
                </div>

            </div>
        </div>
    }

    <!--Total 18 notes-->
    <div class="sf-notes02 total18">
        <h3>Total @ViewBag.totalCount notes</h3>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <!--book 1-->
                    <div class="card">
                        <img src="@item.sellernoteinfo.DisplayPicture" alt="search1">
                        <div class="sn02 card-body">
                            <a href="/SellerNotes/NoteDetails/@item.sellernoteinfo.ID">
                                <h4 class="title"> @item.sellernoteinfo.Title</h4>
                            </a>
                            <div class="card-text">
                                <ul class="sn-book list-group list-group-flush">
                                    <li><i class="fa fa-university"></i><span> @item.sellernoteinfo.UniversityName</span></li>
                                    <li><i class="fa fa-book"></i><span> @item.sellernoteinfo.NumberofPages Pages</span></li>
                                    <li><i class="fa fa-calendar"></i><span> @item.sellernoteinfo.CreatedDate</span></li>
                                    <li><i class="fa fa-flag"></i><span style="color: red">@item.sellernoteinfo.tblSellerNotesReportedIssues.Where(Model => Model.NoteID == Model.tblSellerNote.ID).Count() Users marked this note as inappropriate</span></li>
                                    <li class="review">
                                        <div class="rate">

                                            @{
                                                var count = item.sellernoteinfo.tblSellerNotesReviews.Where(Model => Model.NoteID == Model.tblSellerNote.ID).Count();
                                                var rating = item.sellernoteinfo.tblSellerNotesReviews.Where(Model => Model.NoteID == Model.tblSellerNote.ID).Sum(Model => Model.Ratings);

                                            }
                                            @if (count > 0)
                                            {

                                                for (int i = 1; i <= Math.Round(rating / count); i++)
                                                {
                                                    <i class="text-warning star0  fa fa-star"></i>
                                                }
                                                for (int i = 1; i <= 5 - Math.Round(rating / count); i++)
                                                {
                                                    <i class="text-muted fa fa-star-o"></i>
                                                }
                                            }
                                            @if (count == 0)
                                            {
                                                for (int i = 1; i <= 5; i++)
                                                {
                                                    <i class="text-muted fa fa-star-o"></i>
                                                    @*<label for="star5" title="text">@average</label>*@
                                                }
                                            }
                                            @*<input type="radio" id="star5" name="rate" value="5" />
                                                <label for="star5" title="text">5 stars</label>
                                                <input type="radio" id="star4" name="rate" value="4" />
                                                <label for="star4" title="text">4 stars</label>
                                                <input type="radio" id="star3" name="rate" value="3" />
                                                <label for="star3" title="text">3 stars</label>
                                                <input type="radio" id="star2" name="rate" value="2" />
                                                <label for="star2" title="text">2 stars</label>
                                                <input type="radio" id="star1" name="rate" value="1" />
                                                <label for="star1" title="text">1 star</label>*@
                                            <span>@count reviews</span>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</div>
<!--Pagination-->
<div class="text-center">
    <ul class="pagination">

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("SearchNotes",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
            new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, MaximumPageNumbersToDisplay = 5 })
    </ul>
</div>

<!--Search Notes End-->
